<!doctype html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <style>
        a:visited {
            color           : grey;
            text-decoration : line-through;
        }
    </style>
</head>
<body>
<div id="app" class="ui container">
    <form class="ui form">
        <label>姓名</label>：<input autocomplete="off" type="text" name="fname" v-model="person.fname">
        <span :style="{color:validation.fname?'black':'red'}">{{validation.fname.isValid===false ? `姓名输入不正确,${validation.fname.msg}`:""}}</span>
        <br>
        <label>年龄</label>：<input autocomplete="off" type="text" name="fage" v-model="person.fage">
        <span>年龄输入{{ (validation.fage.isValid ? "正确" : "不正确") }}</span>
        <br>
        <label>性别</label>：<input autocomplete="off" type="radio" name="gen" v-model="person.fgen" value="male"> male
        <input autocomplete="off" type="radio" name="gen" v-model="person.fgen" value="female"> fmale
        <span>&nbsp;&nbsp;&nbsp;输入性别为{{ person.fgen }}</span>
        <br>
        <label>兴趣</label>：
        <input type="checkbox" name="fxingqu" v-model="person.fxingqu" value="swimming"> 游泳
        <input type="checkbox" name="fxingqu" v-model="person.fxingqu" value="daqiu"> 打球
        <span>&nbsp;&nbsp;&nbsp;&nbsp;输入兴趣为{{ person.fxingqu }}</span>
        <br>
        <br>
        <span>
           <span v-if="isValid===false">表单录入不正确</span>
        </span>
        <br>
        <span>
            当前表单<span style="color:red" v-if="isModified">已经修改</span>
            <span v-else>没有任何修改</span>
        </span>
        <br>
        <button type="button" :disabled="!isValid">提交</button>
    </form>
</div>
<script src="../dist/www/main.js?fjdk"></script>
<script>
    let P = defineModel(
        [
            {
                name        : "fname",
                alias       : "姓名",
                defaultValue: "sasa",
                required    : true,
                validator   : function () {
                    let isValid=this.value.length > 3;
                    return {
                        isValid:isValid,
                        msg:isValid?"":'长度不够'
                    }
                }
            },
            {
                name        : "fage",
                defaultValue: 28,
                validator   : function (val) {
                    return new Promise((resolve, reject) => {
                        setTimeout(() => resolve(parseInt(val) > 20), 1000);
                    });
                }
            },
            {
                name        : "fgen",
                defaultValue: "male"
            },
            {
                name        : "fxingqu",
                required    : true,
                defaultValue: ["swimming"]
            }
        ]
    );

    new Vue({
        el  : '#app',
        data: function () {
            let person    = new P({});
            window.person = person;
            person.$on('$isValidChg', (val) => this.isValid = val);
            person.$on('$isModifiedChg', (val) => this.isModified = val);
            return {
                person    : person,
                isValid   : person.$isValid,
                isModified: person.$isModified,
                validation: person.$validation
            }
        }
    });
</script>

</body>
</html>
