<!doctype html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <style>
        a:visited {
            color           : grey;
            text-decoration : line-through;
        }
    </style>
</head>
<body>
<div id="app" class="ui container">
    <form class="ui form">
        <label>姓名</label>：<input autocomplete="off" type="text" name="fname" v-model="person.fname">
        <span>姓名输入{{ (ins.validation.fname ? "正确" : "不正确") }}</span>
        <br>
        <label>年龄</label>：<input autocomplete="off" type="text" name="fage" v-model="person.fage">
        <span>年龄输入{{ (ins.validation.fage ? "正确" : "不正确") }}</span>
        <br>
        <br>
        <span>
            表单录入<span v-if="isValid">正确</span>
            <span style="color:red" v-else>不正确</span>
        </span>
        <br>
        <span>
            当前表单<span style="color:red" v-if="ins.isModified">已经修改</span>
            <span v-else>没有任何修改</span>
        </span>
        <br>
        <button type="button" :disabled="!isValid">提交</button>
    </form>
</div>
<script src="../dist/www/main.js?fjdk"></script>
<script>
    let P = model(
        [
            {
                name        : "fname",
                alias       : "姓名",
                defaultValue: "sasa",
                required    : true,
                validator   : function () {
                    return this.value.length > 3;
                }
            },
            {
                name        : "fage",
                defaultValue: 28,
                validator   : function (val) {
                    return new Promise((resolve, reject) =>{
                        setTimeout(()=>{
                            resolve(parseInt(val) > 20);
                        },1000);
                    })
                }
            }]
    );

    new Vue({
        el  : '#app',
        data: function () {
            let person = new P();
            return {
                person: person.value,
                ins   : person
            }
        },
        computed:{
            isValid:function(){
                return this.ins.isValid;
            }
        }
    });
</script>

</body>
</html>
